Cython==0.29.27
matplotlib==3.5.1
numpy==1.22.2
keras==2.8.0
opencv-python==4.5.5.62
pandas==1.4.0
Pillow==10.0.1
scipy==1.7.3
tensorboard==2.8.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.1
tensorflow-estimator==2.8.0
progressbar2==4.0.0
pytesseract==0.3.8
ipython==8.10.0
tflite-support==0.3.1
